html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: black;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.stat-display {
    margin-bottom: 32px;
}

.is-white {
    color: white;
}

.letter-spacing-md {

    letter-spacing: 2px;

}
